.singleTaskContainer {
  display: flex;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid blue;
  justify-content: space-between;
}

.buttonsContainer {
  /* border: 1px solid green; */
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.buttonsContainer button {
  height: 25px;
  margin-top: 2px;
}
