.boardItem {
  padding: 10px;
  width: 280px;
  /* border: 1px solid red; */
  background-color: #ffffff;
  border-radius: 9px;
  /* padding: 25px 40px; */
  box-shadow: rgb(0 0 0 / 40%) 0 0 10px;
}

.boardItem h4 {
  margin-left: 20px;
}
.boardItem p {
  font-size: 15px;
}

.openBoardBtn {
  
  height: 30px;
  margin: auto;
  width: 100px
}

.boardImg {
  width: 90%;
  margin-left: 13px;
}
